.body {
  background-color: black;
}
.list {
  list-style: none;
  text-align: center;
  font-size: xx-large;
}
.link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}
.link:hover::after {
  transform: scaleX(1);
}
